{% extends 'base.html' %}
{% load static %}
{% block css_extra %}
<link rel="stylesheet" href="{% static 'app2/style.css' %}">
{% endblock %}
{% block title %}App1 Vista1{% endblock %}
{% block link1 %} <a href="{% url 'app2:inicio' %}">Inicio</a>{% endblock %}
{% block link2 %} <a href="{% url 'app2:v2' %}">Vista 2</a> {% endblock %}
{% block main %}
<h1> Esto es la vista 1 de la app 2</h1>
<img src="https://media1.tenor.com/m/nrrJjxNYfd8AAAAC/daiwa-scarlet-uma-musume.gif" alt="">
{% endblock %}