{% extends 'base.html' %}
{% load static %}
{% block css_extra %}
<link rel="stylesheet" href="{% static 'app1/style.css' %}">
{% endblock %}
{% block title %}App1 Vista2{% endblock %}
{% block link1 %} <a href="{% url 'app1:inicio' %}">Inicio</a>{% endblock %}
{% block link2 %} <a href="{% url 'app1:v1' %}">Vista 1</a> {% endblock %}
{% block main %}
<h1> Esto es la vista 2 de la app 1</h1>
<img src="https://media1.tenor.com/m/AHHGvZv8BlEAAAAd/el-condor-pasa-uma-musume.gif" alt="">
{% endblock %}
